/* __ for sections */
/* - for elements */

.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  background-color: red;
}

.Sidebar__container {
  position: fixed;
  /* height of titlebar */
  top: 30px;
}

.Sidebar__container-search {
}

.Sidebar__footer {
  bottom: 0 !important;
  width: 100%;
  /* padding: 20px; */
}

.Sidebar__footer-button {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #242424;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
