/* __ for sections */
/* - for elements */

.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 30px);
  /* background-color: red; */
}

.Sidebar__container {
  padding: 25px 40px 25px 40px;
}

.Sidebar__container-search {
  width: 100%;
}

.Sidebar__footer {
  padding: 20px;
}

.Sidebar__footer-button {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #242424;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
